$nav-bgcolor: $primary-accent-color-darker;
$nav-bgcolor-active: $primary-accent-color;
$nav-text: $primary-text-color-inverse;

@mixin base() {
    color: $nav-text;
    display: block;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    text-decoration: none;
    transition: background .3s;

    @media screen and(min-width: 640px) {
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2rem;
    }

    &:hover {
        background-color: lighten($nav-bgcolor, 5%);
        transition: background .2s;
    }

    &:focus {
        background-color: $nav-bgcolor;
        transition: background .2s;
    }

    &:active {
        background-color: $nav-bgcolor-active;
        transition: background .2s;
    }
}
&__link {
    @include base;

    &--active {

        @include base;
        background-color: $nav-bgcolor-active;

        &:hover {
            background-color: $nav-bgcolor-active;
        }
    }
}