@mixin base() {
    background-color: $secondary-background-color;
    border-radius: 4px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
}

&__content {

    @include base;

    h2 {
        border-bottom: 1px solid $primary-text-color;
        padding-left: 0;
        padding-right: 0;
    }

    & .disabled {
        h3 {
            color: $primary-text-color-disabled;
        }
    }
}