@mixin base() {
    //background-color: $secondary-background-color;
    border-radius: 4px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2rem;
}

&__content {
    @include base;

    h2 {
        border-top: 1px solid $primary-accent-color-darker;
        color: $primary-text-color-inverse;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;

    }

    & .disabled {
        h3 {
            color: $primary-text-color-disabled;
        }
    }
}