&__heading {
    color: $primary-text-color-inverse;
    font-size: 2rem;
    font-family: oswald, arial, sans-serif;
    line-height: 2.5rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
}