//Content section backgrounds
$primary-background-color: #142e44;
$secondary-background-color: #33526c;

//Text
$primary-text-color: #061724;
$primary-text-color-inverse: #fff;
$primary-text-color-disabled: #8ca5ba;
$secondary-text-color: #2bb6d9;

$primary-link-color: #2bb6d9;
$primary-link-color-darker: #0983a2; 
$primary-link-color-inverse: #fff;
//Accents
$primary-accent-color: #2bb6d9;
$primary-accent-color-darker: #33526c;
$primary-accent-color-darkest: #1e3951;


* {
    box-sizing: border-box;
}

body {
    background: $primary-background-color;
    color: $primary-text-color-inverse;
    font-family: "Open sans", arial, sans-serif;
    font-size: 1rem;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

h1 {

    font-size: 2rem;
    font-family: oswald, arial, sans-serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-transform: uppercase;

    @media screen and(min-width: 640px) {
       font-size: 3rem; 
    }
}

h2 {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    text-transform: uppercase;

}

h3 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

p {
    //padding-left: 1rem;
    margin-top: 0;
    margin-bottom: .5rem;
}

ul {
    list-style-type: none;
    margin-bottom: 0;       
    margin-top: 0;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;

    li {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

a {
    color: $primary-link-color-inverse;
    
    &:hover {
        text-decoration: none;
    }
    &:active {

    }
    &:visited{

    }
    &:focus {
        outline-color: $primary-link-color-inverse;
    }
}

ol {
    list-style-position: inside;
    margin-bottom: 0;       
    margin-top: 0;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
    
    li {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}