* {
    box-sizing: border-box;
}

body {
    background: #dedede;
    color: #111;
    font-family: "Open sans", arial, sans-serif;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}